.flags-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-around;
 
}
.single-box{
  padding-top: 10px;
  width: 200px;
  height:150px;
  border-style: solid;
  border-color: #fff;
  border-radius: 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  

}
img{
  object-fit: contain;
  height:100px;
  width:150px;
}

p{
  font-size: medium;
  font-weight: bold;
  padding-bottom: 10px;
}